{% load static %}
<!DOCTYPE>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
</head>
<body>
<div class="container" id="app">
    {% csrf_token %}
    {% verbatim %}
    <div class="section">
        <table class="highlight">
            <thead>
            <tr>
                <th>Cliente</th>
                <th>Placa</th>
                <th>¿Pagó?</th>
                <th>Hora de entrada</th>
                <th>Hora de salida</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="ticket in tickets">
                <td>{{ ticket.vehicle.client.first_name + " " + ticket.vehicle.client.last_name }}</td>
                <td>{{ ticket.vehicle.license_plate }}</td>
                <td>{{ ticket.paid ? 'Si' : 'No' }}</td>
                <td>{{ ticket.entry_time }}</td>
                <td>{{ ticket.departure_time }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="section">
        <button data-target="newModal" class="btn-floating btn-large waves-effect waves-light red btn modal-trigger"><i
                class="material-icons">add</i></button>
    </div>
    <div id="newModal" class="modal modal-fixed-footer">
        <div class="section">
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <select id="vehicle" name="vehicle" v-model="vehiclePkSelected">
                        <option value="">Seleccione un vehiculo</option>
                        <option v-for="vehicle in vehicles" :value="vehicle.pk">{{ vehicle.license_plate }}</option>
                    </select>
                    <label for="vehicle">Vehiculos</label>
                </div>
                <div class="input-field col s12 m6 l6" v-show="vehiclePkSelected != 0">
                    <input readonly type="text" id="amount" name="amount" :value="vehicleSelectedPayment"/>
                    <label for="amount">Monto</label>
                </div>
                <div class="input-field col s12 m2">
                    <label><input type="checkbox" id="paid" name="paid"/> <span>¿Pagó?</span> </label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="button" v-on:click="register()">Registrar
                        <i class="material-icons right">send</i>
                    </button>
                    <button class="btn waves-effect waves-light red darken-4" type="button" v-on:click="closeModal()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'app.js' %}"></script>
</body>
</html>